.coolheading{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 100px;
}

.coolheading h1{
    text-transform: uppercase;
    top: 7px;
    color: var(--primaryColor);
    font-size: 3rem;
}

.coolheading span{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.05);
    position: absolute;
    font-size: 8rem;
    font-weight: bold;
    z-index: -10;
    width: 100vw;
    text-align: center;
}










@media screen and (max-width: 1300px) {
    .coolheading span{
        font-size: 6rem;
    }
}



@media screen and (max-width: 1100px) {
    .coolheading span{
        font-size: 5rem;
    }
    .coolheading h1{
        font-size: 2.5rem;
    }
}



@media screen and (max-width: 900px) {
    .coolheading{
        padding: 100px 50px;
    }
    .coolheading span{
        font-size: 5rem;
    }
    .coolheading h1{
        font-size: 2.5rem;
    }
}



@media screen and (max-width: 700px) {
    .coolheading span{
        font-size: 4rem;
    }
    .coolheading h1{
        font-size: 2rem;
    }
}