.Modelmain{
    position: absolute;
}

.modelbox{
    position: fixed;
    justify-content: space-between;
    background-color: #151515;
    z-index: 100;
    border-radius: 10px;
    width: 90vw;
    overflow: hidden;
    height: 90vh;
    position: absolute;
}

.modelbox button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    border-radius: 50%;
    transition: all .5s ease;
    transform: rotate(45deg);
}

.modelbox button:hover{
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
}

.model{
    position: absolute;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: center;
    justify-content:space-between !important;
    gap: 0px !important;
    width: 100%;
    height: 100%;
}

.model-item{
    height: 100%;
    width: 100%;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
}

#model-img{
    width: 60vw;
    overflow: hidden;
}

#model-img img{
    height: 100%;
}

.model-item p,
.model-item ol li,
.model-item a{
    font-size: 0.8rem;
    opacity: 75%;
    font-weight: 400;
    max-width: 80%;
    text-align: justify;
}

.model-item ol li{
    max-width: 100% !important;
}

.model-item section{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 80%;
    gap: 30px;
}

.model-item section div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: start;
    justify-content: flex-start;
}

.model-item section span{
    font-size: 1.0rem;
    font-weight: 600;
}

.modelbox h3{
    font-size: 1.4rem;
}

.modelbox h1{
    padding-top: 50px;
}















@media screen and (max-width: 1100px) {
    .modelbox button{
        height: 30px;
        width: 30px;
        font-size: 0.9rem;
    }
    .modelbox button:hover{
        font-size: 1.3rem;
    }
    .model-item p,
    .model-item ol li,
    .model-item a{
        font-size: 0.7rem;
    }
    .model-item section span{
        font-size: 0.8rem;
    }
    
    .modelbox h3{
        font-size: 1.2rem;
    }
    
}



@media screen and (max-width: 900px) {

    .model{
        flex-direction: column !important;
    }
    .modelbox{
        height: 120vh;
    }
    #model-img{
        width: 100%;
        height: 100%;
    }
    #model-img img{
        height: auto !important;
        width: 100% !important;
    }
    


    .model-item:nth-child(2){
        padding-bottom: 50px;
    }
    .model-item p,
    .model-item ol li,
    .model-item a{
        font-size: 0.8rem;
    }
    .model-item section span{
        font-size: 1.2rem;
    }
    
    .modelbox h3{
        font-size: 1.2rem;
    }
    .modelbox h1{
        font-size: 2rem;
    }
}


@media screen and (max-width: 500px) {
    .Modelmain{
        position: relative;
    }
    .model-item:nth-child(2){
        padding-bottom: 30px;
    }
    .model-item p,
    .model-item ol li,
    .model-item a{
        font-size: 0.6rem;
    }
    .model-item section span{
        font-size: 0.8rem;
    }
    .modelbox{
        height: 80vh;
    }
    .modelbox h3{
        font-size: 0.8rem;
    }
    .modelbox h1{
        font-size: 1.2rem;
    }
    .model-item section{
        gap: 10px;
    }
    .model-item{
        gap: 10px !important;
    }   
}