.phonegame-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    gap: 30px;
}
.phonegame-container section{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 20px;
}
.phonegame-container section p,
.phonegame-container section li{
    text-align: justify;
    font-size: 0.8rem;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.519);
}
.phonegame-container section p span,
.phonegame-container section li span{
    color: yellow;
    opacity: 100% !important;
}
.phonegame-container button{
    background-color: rgb(43, 113, 226);
    padding: 7px 15px;
    font-size: 1rem;
    border: transparent;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.phonegame-container button:hover{
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.482),
                0px 0px 10px rgba(255, 255, 255, 0.267),
                0px 0px 30px rgba(255, 255, 255, 0.14);
    cursor: pointer;
}

.icons-container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    transition: all 0.5s ease;
}

.icons-container img,
.phonegame-container img{
    width: 70px;
    height: 70px;
}

.brighten{
    background-color: white;
}

.challenge-display-container{
    transition: all 0.5s ease;
    position: absolute;
    background-color: #DEDEE6;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black,
    0px 0px 30px black,
    0px 0px 70px black;
    z-index: 10;
    transform: scale(0%);
}

.--active{
    transform: scale(100%);
}

.challenge-display-container div{
    border-radius: 7px;
    padding: 40px 50px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    max-width: 300px;
}

.challenge-display-container button{
    background-color: #222222;
    outline: none;
    border: none;
    color: white;
    padding: 7px;
    font-size: 0.8rem;
    border: 2px solid white;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    transform: scaleX(110%);
    transition: all 0.5s ease;
}
.challenge-display-container button:hover{
    background-color: #333333;
    cursor: pointer;
}

@media (max-width: 399px) {
    .phonegame-container{
        flex-direction: column;
    }
    .phonegame-container section{
        max-width: 80%;
    }
    .challenge-display-container div{
        max-width: 200px;
    }
    
}