
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Teko:wght@300..700&display=swap');
@import 'locomotive-scroll/dist/locomotive-scroll.css';

*{
    font-family: "Poppins",sans-serif;
    color: white;
}

.home{
    z-index: -10;
}

.home-part1{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    z-index: 1;
    padding: 0px 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #888888;
    overflow: hidden;
}

.homebackimage img{
    top: 0px;
    left: 0px;
    width: 100vw !important;
}

.home-part1 div{
    display: flex;
    flex-direction: column;
}

.home-part1 div span{
    font-family: "Outfit", sans-serif;
    font-size: 5rem;
    font-weight: 800;
    color: var(--primaryColor);
}

.home-part1 b{
    color: white;
}

.home-part1 div{
    z-index: 10;
}

a{
    text-decoration: none;
}

.home-part1 button,
.home-5 button{
    background-color: var(--primaryColor);
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    border: none;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    font-family: "Poppins",sans-serif;
    margin: 20px 0px;
    z-index: 10;
    border: 3px solid transparent;
    transition: all .5s ease;
}

.home-part1 button:hover,
.home-5 button:hover{
    border-bottom: 3px solid white;
    background-color: #151515;
    cursor: pointer;
}

.circle {
    position: absolute;
    height: 1100px;
    width: 1100px;
    left: -210px;
    bottom: -550px;
    border-radius: 50%;
    border: 150px solid transparent;
    transform: rotate(90deg);
    border-top: 150px solid var(--primaryColor);
    border-left: 150px solid var(--primaryColor);
    z-index: -10;
    animation-name: circling;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.56, 0.29, 0.33, 0.63);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    mix-blend-mode:screen;
}

@keyframes circling{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.home-part1 img{
    position: absolute;
    bottom: -400px;
    right: 1vw;
    z-index: 10;
}

#masterimg{
    height: 1200px;
}

.home-part2{
    position: relative;
    overflow: hidden;
    z-index: -20;
    width: 100%;
    color: white;
    padding-bottom: 100px;

    box-shadow: 0px 0px 400px 25vh #050505;
}

.home-part2 p{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right: 100px;
}

.home-part2 p section{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins";
}

.home-part2 p section h1{
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--primaryColor);
}

.home-part2 p section p{
    font-size: .8rem;
    line-height: 20px;
    text-align: justify;
    letter-spacing: .5px;
    opacity: 80%;
}

.home-part2 p section div{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.229);
    border-radius: 10px;
    margin-right: 100px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
}

.home-part2 p section div ul li{
    list-style-type: none;
    font-size: .8rem;
}

.home-part2 p section img:nth-child(2){
    z-index: -10;
}

.home-part2 p section div ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 40px 60px;
}

.home-part2 p section div ul:nth-child(2){
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.gradient1,
.gradient2{
    background: radial-gradient(rgba(0, 157, 255, 0.3), #129dff00, transparent);
    height: 1500px;
    width: 1500px;
    position: absolute;
    border-radius: 50%;
    z-index: -10;
}

.gradient1{
    top: -790px;
    left: -810px;
}
.gradient2{
    bottom: -790px;
    right: -810px;
}

.home-part2 img{
    position: absolute;
    left: 0px;
    top: 150px;
    height: 800px;
}


.home-part3{
    overflow: hidden;
    color: white;
}

.home-part3 section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.line{
    height: 500px;
    width: 3px;
    background-color: rgba(0, 157, 255, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
}

.quote{
    height: 105vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -30;
}

.quote::before{
    content: "";
    position: absolute;
    background-color: black;
    z-index: -5;
    height: 105vh;
    width: 100%;
    opacity: 80%;
}

.quote img{
    width: 100%;
    position: absolute;
    z-index: -10;
}

.quote div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 70%;
    gap: 40px;
}

.quote h1,
.quote span,
.quote p{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.quote h1{
    font-size: 8rem;
    line-height: 50px;
    color: var(--primaryColor);
}

.quote span{
    font-size: 1rem;
    padding-left: 20px;
    border-left: 1px solid white;
}

.education h3{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 5px solid var(--primaryColor);
    background-color: #151515;
    z-index: 1;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.education{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",sans-serif;
}

.education span{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: "Poppins",sans-serif;
    color: rgba(255, 255, 255, 0.1);
    margin: 0px 200px;
}

.education div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.education div h1{
    font-size: 2rem;
    font-weight: 600;
}

.education div h2{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--primaryColor);
}

.education div p{
    max-width: 500px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.515);
    font-weight: 200;
    font-size: .9rem;
    padding-top: 20px;
}

.home-part4{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    box-shadow:-10px -10px 50px rgba(255, 255, 255, 0.05);
}

.home-part4 section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80vw;
    gap: 50px;
}

.home-part4 section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Poppins",sans-serif;
    gap: 20px;
    max-width: 350px;
    text-align: center;
    background-color: #151515;
    padding: 40px 0px;
    border: 1px solid rgba(255, 255, 255, 0.181);
    border-radius: 10px;
}

.home-part4 img{
    height: 100px;
}

.home-part4 h1{
    font-size: 1.7rem;
    color: var(--primaryColor);
}

.home-part4 p{
    font-weight: 300;
    padding: 0px 20px;
    color: rgb(162, 162, 162);
}

.home-part3,
.home-part4{
    box-shadow: 0px 0px 200px 25vh #101010,
                0px 0px 100px 10vh #101010;
}

.home-part6{
    display: flex;
    flex-direction: roe;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 500px;
    overflow: hidden;
    padding: 0% 10%;
}

.home-part6::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: -5;
    opacity: 80%;
}

.home-part6 img{
    position: absolute;
    width: 100%;
    z-index: -10;
}

.home-part6 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 300;
}

.home-part6 span{
    font-size: 1.3rem;
    text-transform: uppercase;
}

.home-part7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 85vw;
    padding-top: 50px;
}

.home-part7 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 40px;
    font-size: 1.5rem;
}

.home-part7 button{
    margin-top: 50px;
}









.c-scrollbar_thumb {
    background-color: var(--primaryColor) !important;
  }