
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Teko:wght@300..700&display=swap');

.home{
    z-index: -10;
}

.home-part1{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: url("../Images/1x/HomeBackgroundArtboard\ 1.png");
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
    padding: 0px 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #888888;

    overflow: hidden;
}

.home-part1 div{
    display: flex;
    flex-direction: column;
}

.home-part1 div span{
    font-family: "Outfit", sans-serif;
    font-size: 5rem;
    font-weight: 800;
    color: rgb(0, 157, 255);
}

.home-part1 b{
    color: white;
}

.home-part1 div{
    z-index: 10;
}

.home-part1 button{
    background-color: rgb(0, 157, 255);
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    border: none;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    font-family: "Poppins",sans-serif;
    margin: 20px 0px;
    z-index: 10;
    border: 3px solid transparent;
    transition: all .5s ease;
}

.home-part1 button:hover{
    border-bottom: 3px solid white;
    background-color: #151515;
    cursor: pointer;
}

.circle {
    position: absolute;
    height: 1100px;
    width: 1100px;
    left: -210px;
    bottom: -550px;
    border-radius: 50%;
    border: 150px solid transparent;
    transform: rotate(90deg);
    border-top: 150px solid rgb(0, 157, 255);
    border-left: 150px solid rgb(0, 157, 255);
    z-index: -10;
    animation-name: circling;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.56, 0.29, 0.33, 0.63);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    mix-blend-mode:screen;
}

@keyframes circling{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.home-part1 img{
    position: absolute;
    top: -50px;
    right: 50px;
    height: 1200px;
    z-index: 10;
}

.home-part2{
    height: 1000px;
}